---
import Mainmenu from "../components/Mainmenu.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Ivan Abreu">
	<main>
		<Mainmenu typographycolor="#000000" backgroundcolor="#ffffff"/>
        <h1>CONTACT</h1>
		<hr>

	</main>
</Layout>

