---
import Mainmenu from "../components/Mainmenu.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Ivan Abreu">
	<main>
		<Mainmenu typographycolor="#000000" backgroundcolor="#ffffff" />
        <h1>WORK</h1>
		<hr>
		<a href="/documento1">documento 1</a><br>
		<a href="/documento2">documento 2</a><br>
		<a href="/documento3">documento 3</a>
		<hr>
	</main>
</Layout>

